{% extends "base.html" %}

{% block content %}
<section class="vh-100">
    <!-- <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <H2>Add warehouse</H2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-secondary" role="alert">
                    {{ messages[0] }}.
                </div>
                {% endif %}
            {% endwith %}
          <form method="POST" action="/admin">
            <div class="form-row mb-4">
              <input type="text" id="w_name" name = "w_name" class="form-control form-control-lg" placeholder="Name" required/>
            </div>
  
            <div class="form-row mb-4">
              <input type="number" id="w_astorage" name="w_astorage" class="form-control form-control-lg" placeholder="Available storage" required/>
            </div>

            <div class="form-row mb-4">
                <input type="number" id="w_tstorage" name="w_tstorage" class="form-control form-control-lg" placeholder="Total storage" required/>
              </div>
  
            <div class="d-flex justify-content-around align-items-center mb-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="labelling" name="labelling" checked />
                <label class="form-check-label" for="labelling"> Labelling </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="manual_geo_data_entry" name="manual_geo_data_entry" checked />
                <label class="form-check-label" for="manual_geo_data_entry"> Manual geo data entry </label>
              </div>
            </div>

            <div class="d-flex justify-content-around align-items-center mb-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="item_packaging" name="item_packaging" checked />
                  <label class="form-check-label" for="item_packaging"> Item packaging </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="palette_packaging" name="palette_packaging" checked />
                  <label class="form-check-label" for="palette_packaging"> Palette packaging </label>
                </div>
              </div>

              <div class="form-row mb-4">
                <input type="text" id="address" name="address" class="form-control form-control-lg" placeholder="Address" required/>
              </div>

              <div class="form-row mb-4">
                <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email" required/>
              </div>

              <div class="form-row mb-4">
                <input type="text" id="phone" name="phone" class="form-control form-control-lg" placeholder="Phone" required/>
              </div>
  
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
  
          </form>
        </div>
      </div>
    </div> -->
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Show</th>
            <th>Info</th>
            <th>Storage</th>
            <th>Labelling</th>
            <th>Manual geo data entry</th>
            <th>Item packaging</th>
            <th>Palette packaging</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
            {% for warehouse in data %}
        
          <tr>
              <td>
                <input class="form-check-input" type="checkbox" value="" id="show" name="show" checked />
                <label class="form-check-label" for="show"></label>
              </td>
            <td>
         
                  <p class="fw-bold mb-1">{{warehouse.name}}</p>
                  <p class="text-muted mb-0">{{warehouse.email}}</p>
                  {% for user in users %}
                  {% if user.id == warehouse.owner %}
                  <p class="text-muted mb-0">{{user.name}} {{user.surname}}</p>
                  {% endif%}
                  {% endfor %}
              
            </td>
            <td>
              <p class="fw-normal mb-1">Available: {{warehouse.volume_available}}</p>
              <p class="text-muted mb-0">Total: {{warehouse.volume_total}}</p>
            </td>
            {% if warehouse.labelling %}
                <td>
                <span class="badge badge-success rounded-pill d-inline">Available</span>
              </td>
            {% else %}
            <td>
                <span class="badge badge-danger rounded-pill d-inline">Not available</span>
              </td>
            {% endif %}

            {% if warehouse.manual_geo_data_entry %}
                <td>
                <span class="badge badge-success rounded-pill d-inline">Available</span>
              </td>
            {% else %}
            <td>
                <span class="badge badge-danger rounded-pill d-inline">Not available</span>
              </td>
            {% endif %}

            {% if warehouse.item_packaging %}
                <td>
                <span class="badge badge-success rounded-pill d-inline">Available</span>
              </td>
            {% else %}
            <td>
                <span class="badge badge-danger rounded-pill d-inline">Not available</span>
              </td>
            {% endif %}

            {% if warehouse.palette_packaging %}
                <td>
                <span class="badge badge-success rounded-pill d-inline">Available</span>
              </td>
            {% else %}
            <td>
                <span class="badge badge-danger rounded-pill d-inline">Not available</span>
              </td>
            {% endif %}
            
              <td>
                <p class="fw-normal mb-1">{{warehouse.email}}</p>
                <p class="text-muted mb-0">{{warehouse.phone}}</p>
              </td>
            <td>
              <a href="{{  url_for('main.warehouse_view', warehouse_id=warehouse.id)  }}">
                <button type="button" class="btn btn-link btn-sm btn-rounded">EDIT</button>
              </a>
              <a href="{{  url_for('main.warehouse_price', warehouse_id=warehouse.id)  }}">
                <button type="button" class="btn btn-link btn-sm btn-rounded">PRICES</button>
              </a>
              <a href="{{  url_for('main.remove', warehouse_id=warehouse.id)  }}">
                <button type="button" class="btn btn-link btn-sm btn-rounded">DELETE</button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </section>
{% endblock %}