{% extends "base.html" %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">  
      <div class="row">
        <div class="col-lg-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-secondary" role="alert">
                {{ messages[0] }}.
            </div>
            {% endif %}
            {% endwith %}
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="/static/merchant_profile.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{data.name}}</h5>
              <p class="text-muted mb-1">{{data.address}}</p>
              <p class="text-muted mb-4">{{data.email}}</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">Request Booking</button>
                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                <!-- Modal -->
                <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form method="POST" action="/details/{{data.id}}/request">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Request for information</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row ">
                                <input type="number" id="neededStorage" name ="neededStorage" class="form-control"  placeholder="Approximate needed storage"/>
                            </div>
                        </div>
                        <p class="mb-1" style="font-size: .77rem;">You will receive an email from us once your request gets processed.</p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">REQUEST</button>
                        </div>
                    </form>
                    </div> -->
                    </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">https://mdbootstrap.com</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0">@mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{owner.name}}  {{owner.surname}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{data.email}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{data.phone}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{data.address}}</p>
                    </div>
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4" style="display: flex;align-items: center;justify-content: center;"><span class="text-primary font-italic me-1">Services prices</span>
                  </p>
                  <ul class="list-group list-group-flush rounded-3">
                    {% if data.labelling %}
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0">Labelling: </p>
                      <p class="mb-0">€{{data.labelling_price[0]}}</p>
                    </li>
                    {% endif %}
                    {% if data.manual_geo_data_entry%}
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0">Manual geo data entry: </p>
                      <p class="mb-0">€{{data.manualgeo_price[0]}}</p>
                    </li>
                    {% endif %}
                    {% if data.item_packaging%}
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0">Item packaging: </p>
                      <p class="mb-0">€{{data.itempackaging_price[0]}}</p>
                    </li>
                    {% endif %}
                    {% if data.palette_packaging%}
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0">Palette packaging: </p>
                      <p class="mb-0">€{{data.palettepackaging_price[0]}}</p>
                    </li>
                    {% endif %}
              
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4" style="display: flex;align-items: center;justify-content: center;"><span class="text-primary font-italic me-1">Other prices</span>
                  </p>
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0">Storage: </p>
                      <p class="mb-0">€{{data.storage[0]}}</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0">Goods receiving processing: </p>
                      <p class="mb-0">€{{data.goods_receiving_processing[0]}}</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0">Item picking: </p>
                      <p class="mb-0">€{{data.item_picking[0]}}</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <p class="mb-0">Packaging material: </p>
                      <p class="mb-0">€{{data.packaging_material[0]}}</p>
                    </li>
              
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>







{% endblock %}