{% extends "base.html" %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">  
      <div class="row">
        <div class="col-lg-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-secondary" role="alert">
                {{ messages[0] }}.
            </div>
            {% endif %}
            {% endwith %}
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="/static/merchant_profile.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{data.name}}</h5>
              <p class="text-muted mb-1">{{data.address}}</p>
              <p class="text-muted mb-4">{{data.email}}</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">Request Booking</button>
                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                <!-- Modal -->
                 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form method="POST" action="/details/{{data.id}}/request">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Request for information</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row mb-2 ">
                                <input type="number" id="neededStorage" name ="neededStorage" class="form-control"  placeholder="Approximate needed storage"/>
                            </div>
                            <div class="form-row mb-2 d-flex">
                                <input type="date" id="check-in" name="check-in" class="form-control" placeholder="Check-in date">
                                <div  style="display: flex;align-items: center;justify-content: center; width: 100px;">
                                <p style="font-size: 0.77rem; margin-bottom: 0;" >Check-in</p>
                                </div>
                            </div>
                            <div class="form-row mb-2 d-flex">
                              <input type="date" id="check-out" name="check-out" class="form-control" placeholder="Check-out date">
                              <div  style="display: flex;align-items: center;justify-content: center; width: 100px;">
                                <p style="font-size: 0.77rem; margin-bottom: 0;" >Check-out</p>
                                </div>
                            </div>

                            <div class="form-row mb-2 d-flex align-items-center justify-content-center">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="goods_receiving_processing_request" id="goods_receiving_processing_request" name="goods_receiving_processing_request" />
                                <label class="form-check-label" for="goods_receiving_processing_request">Goods receiving processing</label>
                              </div>
                            </div>
                            <div class="form-row mb-2 d-flex align-items-center justify-content-center">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="item_picking_request" id="item_picking_request" name="item_picking_request" />
                                <label class="form-check-label" for="item_picking_request">Item picking</label>
                              </div>
                            </div>
                            {% if data.labelling %}
                            <div class="form-row mb-2 d-flex align-items-center justify-content-center">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="labelling_request" id="labelling_request" name="labelling_request" />
                                <label class="form-check-label" for="labelling_request">Labelling</label>
                              </div>
                            </div>
                            {% endif %}
                            {% if data.manual_geo_data_entry %}
                            <div class="form-row mb-2 d-flex align-items-center justify-content-center">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="manual_geo_data_entry_request" id="manual_geo_data_entry_request" name="manual_geo_data_entry_request" />
                                <label class="form-check-label" for="manual_geo_data_entry_request">Manual geo data entry</label>
                              </div>
                            </div>
                            {% endif %}
                            {% if data.item_packaging%}
                            <div class="form-row mb-2 d-flex align-items-center justify-content-center">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="item_packaging_request" id="item_packaging_request" name="item_packaging_request" />
                                <label class="form-check-label" for="item_packaging_request">Item packaging</label>
                              </div>
                            </div>
                            {% endif %}
                            <div class="form-row mb-2 ">
                                <input type="number" id="packaging_mat" name ="packaging_mat" class="form-control"  placeholder="Packaging material(m^2)"/>
                            </div>
                          
                        </div>
                        <p class="mb-1" style="font-size: .77rem;">You will receive an email from us once your request gets processed.</p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">REQUEST</button>
                        </div>
                      </div>
                    </div>
                    </form>
                    </div> 
                    
            </div>
          </div>
        </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">https://mdbootstrap.com</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0">@mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{owner.name}}  {{owner.surname}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{data.email}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{data.phone}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{data.address}}</p>
                    </div>
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                      <tr>
                        <th>Services</th>
                        <th>Availability/Capacity</th>
                        <th>Score</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Storage</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">{{data.volume_available}} / {{data.volume_total}}</p>
                        </td>
                        <td>
                          <span class="badge badge-warning rounded-pill d-inline">not set yet</span>
                        </td>
                        <td>€{{data.storage[0]}}</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Goods receiving processing</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">not set yet</p>
                        </td>
                        <td>
                          <span class="badge badge-warning rounded-pill d-inline">not set yet</span>
                        </td>
                        <td>€{{data.goods_receiving_processing[0]}}</td>
                      </tr>

                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Item picking</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">not set yet</p>
                        </td>
                        <td>
                          <span class="badge badge-warning rounded-pill d-inline">not set yet</span>
                        </td>
                        <td>€{{data.item_picking[0]}}</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Packaging material</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">not set yet</p>
                        </td>
                        <td>
                          <span class="badge badge-warning rounded-pill d-inline">not set yet</span>
                        </td>
                        <td>€{{data.packaging_material[0]}}</td>
                      </tr>

                      {% if data.labelling %}
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Labelling</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">not set yet</p>
                        </td>
                        <td>
                          <span class="badge badge-warning rounded-pill d-inline">not set yet</span>
                        </td>
                        <td>€{{data.labelling_price[0]}}</td>
                      </tr>
                      {% endif %}
                      {% if data.manual_geo_data_entry %}
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Manual geo data entry</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">not set yet</p>
                        </td>
                        <td>
                          <span class="badge badge-warning rounded-pill d-inline">not set yet</span>
                        </td>
                        <td>€{{data.labelling_price[0]}}</td>
                      </tr>
                      {% endif %}
                      {% if data.item_packaging %}
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Item packaging</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">not set yet</p>
                        </td>
                        <td>
                          <span class="badge badge-warning rounded-pill d-inline">not set yet</span>
                        </td>
                        <td>€{{data.itempackaging_price[0]}}</td>
                      </tr>
                      {% endif %}
                      {% if data.palette_packaging %}
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Palette packaging</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1">not set yet</p>
                        </td>
                        <td>
                          <span class="badge badge-warning rounded-pill d-inline">not set yet</span>
                        </td>
                        <td>€{{data.palettepackaging_price[0]}}</td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>







{% endblock %}