{% extends "base.html" %}

{% block content %}

    <div class="container py-5">
        <form action="/search/filter" method="POST">
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-9">
                <div class="input-group">
                        {% if request.endpoint == "search.filter" %}
                          <a class="btn-outline-primary btn text-center" href="{{url_for('search.main')}}">reset</a>
                        {% endif %}
                        <input type="search" id = "search_name" class="form-control " placeholder="Name" name="name" aria-label="Name" aria-describedby="search-addon" />
                        <input type="number" id = "n_storage" class="form-control " placeholder="Needed storage" name="n_storage" aria-label="Needed storage" aria-describedby="search-addon" />
                            <button
                              class="form-control"
                              type="button"
                              id="dropdownMenuButton2"
                              data-mdb-toggle="dropdown"
                              aria-expanded="false"
                            >
                               <p id="p1">Services</p>
                            </button>
                            
                                <ul class="dropdown-menu"  aria-labelledby="dropdownMenuButton2">
                                  <li>
                                    <input class="form-check-input" type="checkbox" value="labelling" id="labelling" name="labelling" onclick = "showServicesPrices()" />
                                    <label class="form-check-label" for="labelling">Labelling</label>
                                  </li>

                                  <div id="labelling_filter">
                                    <li>
                                      <input id="labelling_price_min" name = "labelling_price_min" type="number" class="m-2" placeholder="Min. price">
                                    </li>
                                    <li>
                                      <input id="labelling_price_max" name = "labelling_price_max" type="number" class="m-2" placeholder="Max. price">
                                    </li>
                                  </div>

                                  <li>
                                    <input class="form-check-input" type="checkbox" value="manual_geo_data_entry" id="manual_geo_data_entry" name="manual_geo_data_entry" onclick = "showServicesPrices()"/>
                                    <label class="form-check-label" for="manual_geo_data_entry">Manual geo data entry</label>
                                  </li>

                                  <div id="manualgeo_filter">
                                    <li>
                                      <input id="manualgeo_price_min" name = "manualgeo_price_min" type="number" class="m-2" placeholder="Min. price">
                                    </li>
                                    <li>
                                      <input id="manualgeo_price_max" name = "manualgeo_price_max" type="number" class="m-2" placeholder="Max. price">
                                    </li>
                                  </div>

                                  <li>
                                    <input class="form-check-input" type="checkbox" value="item_packaging" id="item_packaging" name = "item_packaging" onclick = "showServicesPrices()"/>
                                    <label class="form-check-label" for="item_packaging">Item packaging</label>
                                  </li>

                                  <div id="itempackaging_filter">
                                    <li>
                                      <input id="itempackaging_price_min" name = "itempackaging_price_min" type="number" class="m-2" placeholder="Min. price">
                                    </li>
                                    <li>
                                      <input id="itempackaging_price_max" name = "itempackaging_price_max" type="number" class="m-2" placeholder="Max. price">
                                    </li>
                                  </div>

                                  <li>
                                    <input class="form-check-input" type="checkbox" value="palette_packaging" id="palette_packaging" name = "palette_packaging" onclick = "showServicesPrices()"/>
                                    <label class="form-check-label" for="palette_packaging">Palette packaging</label>
                                  </li>

                                  <div id="palettepackaging_filter">
                                    <li>
                                      <input id="palettepackaging_price_min" name = "palettepackaging_price_min" type="number" class="m-2" placeholder="Min. price">
                                    </li>
                                    <li>
                                      <input id="palettepackaging_price_max" name = "palettepackaging_price_max" type="number" class="m-2" placeholder="Max. price">
                                    </li>
                                  </div>
                                  
                                </ul>

                                <button
                              class="form-control"
                              type="button"
                              id="dropdownMenuButton3"
                              data-mdb-toggle="dropdown"
                              aria-expanded="false"
                            >
                               <p id="p1">More filters</p>
                            </button>
                            
                                <ul class="dropdown-menu"  aria-labelledby="dropdownMenuButton3">
                                  <li>
                                    <input class="form-check-input" onclick="getLocation()" type="checkbox" value="" id="closest_loc" name="closest_loc" />
                                    <label class="form-check-label"  for="closest_loc">Closest available</label>
                                  </li>
                                </ul>
                                <!-- <button type="button" id = "location-button" class="btn btn-link px-3 me-2" onclick="getLocation();">
                                    Get Location
                                </button> -->
                        <button type="submit" onclick="rememberForm();" class="btn btn-outline-primary">search</button>
                    </div>
                   
                    
                </div>
            </div>
        </form>
        {% if request.endpoint == "search.main" %}
        <div style="display: flex;align-items: center;justify-content: center;">
          <h1>Input your filters</h1>
        </div>
        {% endif %}
        


        {% block search%}
        {% endblock %}
        

{% endblock %}