{% extends 'base.html' %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <div class="d-flex form-row mb-4">
          <H2>Add warehouse</H2>
            {% if "signup" in request.referrer[22:]%}
            <div class="align-items-center">
            <a href="{{url_for('main.profile')}}" style="text-decoration: none; color: inherit">
                <button type="button" class="btn btn-link px-3 me-2">Skip</button>
            </a></div>

            {% endif %}
        </div>
        <form method="POST" action="/add-warehouse">
          <div class="form-row mb-4">
            <input type="text" id="w_name" name = "w_name" class="form-control form-control-lg" placeholder="Name" required/>
          </div>

          <div class="form-row mb-4">
            <input type="number" id="w_astorage" name="w_astorage" class="form-control form-control-lg" placeholder="Available storage" required/>
          </div>

          <div class="form-row mb-4">
              <input type="number" id="w_tstorage" name="w_tstorage" class="form-control form-control-lg" placeholder="Total storage" required/>
            </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="labelling" name="labelling" checked />
              <label class="form-check-label" for="labelling"> Labelling </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="manual_geo_data_entry" name="manual_geo_data_entry" checked />
              <label class="form-check-label" for="manual_geo_data_entry"> Manual geo data entry </label>
            </div>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="item_packaging" name="item_packaging" checked />
                <label class="form-check-label" for="item_packaging"> Item packaging </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="palette_packaging" name="palette_packaging" checked />
                <label class="form-check-label" for="palette_packaging"> Palette packaging </label>
              </div>
            </div>

            <div class="form-row mb-4">
              <input id="auto_address" name="address" class="form-control form-control-lg" placeholder="Address" required/>
            </div>

            <div class="form-row mb-4">
              <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email" required/>
            </div>

            <div class="form-row mb-4">
              <input type="text" id="phone" name="phone" class="form-control form-control-lg" placeholder="Phone" required/>
            </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>

        </form>
      </div>
    </div>
  </div>
{% endblock %}