{% extends "base.html" %}

{% block content %}
<section class="vh-100"> 
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Show</th>
            <th>Info</th>
            <th>Storage</th>
            <th>Labelling</th>
            <th>Manual geo data entry</th>
            <th>Item packaging</th>
            <th>Palette packaging</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
            {% for warehouse in data %}
          <tr>
              <td>
                <input class="form-check-input" type="checkbox" value="" id="show" name="show" checked />
                <label class="form-check-label" for="show"></label>
              </td>
            <td>
         
                  <p class="fw-bold mb-1">{{warehouse.name}}</p>
                  <p class="text-muted mb-0">{{warehouse.email}}</p>
                  {% if current_user.isAdmin %}
                    {% for user in users %}
                    {% if user.id == warehouse.owner %}
                    <p class="text-muted mb-0">{{user.name}} {{user.surname}}</p>
                    {% endif%}
                    {% endfor %}
                  {% endif %}
              
            </td>
            <td>
              <p class="fw-normal mb-1">Available: {{warehouse.volume_available}}</p>
              <p class="text-muted mb-0">Total: {{warehouse.volume_total}}</p>
            </td>
            {% if warehouse.labelling %}
                <td>
                <span class="badge badge-success rounded-pill d-inline">Available</span>
              </td>
            {% else %}
            <td>
                <span class="badge badge-danger rounded-pill d-inline">Not available</span>
              </td>
            {% endif %}

            {% if warehouse.manual_geo_data_entry %}
                <td>
                <span class="badge badge-success rounded-pill d-inline">Available</span>
              </td>
            {% else %}
            <td>
                <span class="badge badge-danger rounded-pill d-inline">Not available</span>
              </td>
            {% endif %}

            {% if warehouse.item_packaging %}
                <td>
                <span class="badge badge-success rounded-pill d-inline">Available</span>
              </td>
            {% else %}
            <td>
                <span class="badge badge-danger rounded-pill d-inline">Not available</span>
              </td>
            {% endif %}

            {% if warehouse.palette_packaging %}
                <td>
                <span class="badge badge-success rounded-pill d-inline">Available</span>
              </td>
            {% else %}
            <td>
                <span class="badge badge-danger rounded-pill d-inline">Not available</span>
              </td>
            {% endif %}
            
              <td>
                <p class="fw-normal mb-1">{{warehouse.email}}</p>
                <p class="text-muted mb-0">{{warehouse.phone}}</p>
              </td>
            <td>
              <div class="dropdown">
                <button
                  class="btn btn-primary "
                  type="button"
                  id="dropdownMenuButton"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                <i class="fas fa-cog"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{{  url_for('main.warehouse_view', warehouse_id=warehouse.id)  }}">EDIT</a></li>
                  <li><a class="dropdown-item" href="{{  url_for('main.warehouse_price', warehouse_id=warehouse.id)  }}">PRICES</a></li>
                  <li><a class="dropdown-item" href="{{  url_for('main.remove', warehouse_id=warehouse.id)  }}">DELETE</a></li>
                </ul>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        
      </table>
      <div class = "d-flex" style="padding:10px;">
      <a href="{{url_for('main.add_warehouse')}}" style="text-decoration: none; color: inherit">
        <button type="button" class="btn btn-primary me-3">Add</button>
    </a>
  </div>
  </section>
{% endblock %}