{% extends "base.html" %}

{% block content %}
<section class="vh-200" style="background-color: #e9e8e8;">
    <div class="container py-5">
        <div class="pb-2" style="display: flex;align-items: center;justify-content: center;">
            <h3>Requests</h3>
          </div>
        <div class="row d-flex justify-content-center align-items-center h-100">
          {% for request in requests %}
        <div class="col col-xl-10">
          <div class="card mb-5" style="border-radius: 15px;">
            <div class="card-body p-4">
              {% for warehouse in data %}
              {% if request.warehouse_id == warehouse.id %}
              <h3 class="mb-3">{{warehouse.name}}</h3>
              
              {% endif %}
              {% endfor %}
              <p> Requested on {{request.getTimeinMonth()}}</p>
              <span class="badge badge-warning rounded-pill d-inline">in review</span>
              <hr class="my-4">
              <div class="d-flex justify-content-start align-items-center">
                <a href="https://warehouse-thesis.herokuapp.com/search/details/{{request.warehouse_id}}"><p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                    class="text-muted small">Warehouse link</span></p></a>
                  <span class="ms-3 me-4">|</span></p>
                <a href="{{url_for('processes.cancel_request', request_id = request.id)}}"><button type="button" class="btn btn-outline-dark btn-sm btn-floating">
                  <i class="fas fa-times"></i>
                </button></a>
              </div>
            </div>
        </div>
    </div>
    {% endfor %}
      </div>
      <div class="pb-2" style="display: flex;align-items: center;justify-content: center;">
        <h3>Active bookings</h3>
      </div>
      <div class="row d-flex justify-content-center align-items-center h-100">
        {% for active in active_bookings %}
      <div class="col col-xl-10">
        <div class="card mb-5" style="border-radius: 15px;">
          <div class="card-body p-4">
            {% for warehouse in active_warehouses %}
              {% if active.warehouse_id == warehouse.id %}
              <h3 class="mb-3">{{warehouse.name}}</h3>
              
              {% endif %}
              {% endfor %}
            
              <span class="badge badge-success rounded-pill d-inline">Ongoing</span>
              <hr class="my-4">
              <div class="d-flex justify-content-start align-items-center">
                <a href="https://warehouse-thesis.herokuapp.com/search/details/{{active.warehouse_id}}"><p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                    class="text-muted small">Warehouse link</span></p></a>
                  <span class="ms-3">|</span>
                  <button style="border: none;background: none;"  data-mdb-toggle="modal" data-mdb-target="#modal{{active.warehouse_id}}">
                  <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i>
                    <span class="text-muted small">Rate </span></p></button>
                    
                    <div class="modal fade" id="modal{{active.warehouse_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <form method="POST" action="/dashboard/rating/{{active.warehouse_id}}">
                          <div class="modal-header">
                            {% for warehouse in active_warehouses %}
                            {% if active.warehouse_id == warehouse.id %}
                            <h5 class="modal-title" id="exampleModalLabel">Rate the {{warehouse.name}}</h5>
                            {% endif %}
                            {% endfor %} 
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="card">
                            <div class="card-body">
                              
                          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                            <li class="nav-item" role="presentation">
                              <a class="nav-link active" id="tab-quality" data-mdb-toggle="pill" href="#pills-quality" role="tab"
                                aria-controls="pills-quality" aria-selected="true">Quality</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="tab-speed" data-mdb-toggle="pill" href="#pills-speed" role="tab"
                                aria-controls="pills-speed" aria-selected="false">Speed</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" id="tab-price" data-mdb-toggle="pill" href="#pills-price" role="tab"
                                aria-controls="pills-price" aria-selected="false">Price</a>
                            </li>
                          </ul>

                          <div class="tab-content">
                            <div class="tab-pane fade show active" id="pills-quality" role="tabpanel" aria-labelledby="tab-quality">
                              <div class="row">
                                <div class="col-sm-5">
                                  <p class="mb-0">Picking</p>
                                </div>
                                <div class="col-sm-7">
                                  <input type="number" maxlength="4" id="rateQualityPicking" name ="rateQualityPicking" class="form-control"/>
                                </div>
                              </div>
                              <hr>
                              {% for warehouse in active_warehouses %}
                                {% if active.warehouse_id == warehouse.id %}
                                  {% if warehouse.item_packaging%}
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <p class="mb-0">Packaging</p>
                                    </div>
                                    <div class="col-sm-7">
                                      <input type="number" id="rateQualityPackaging" name ="rateQualityPackaging" class="form-control"/>
                                    </div>
                                  </div>
                                  <hr>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}

                              {% for warehouse in active_warehouses %}
                                {% if active.warehouse_id == warehouse.id %}
                                  {% if warehouse.labelling%}
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <p class="mb-0">Labelling</p>
                                    </div>
                                    <div class="col-sm-7">
                                      <input type="number" id="rateQualityLabelling" name ="rateQualityLabelling" class="form-control"/>
                                    </div>
                                  </div>
                                  <hr>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}

                              {% for warehouse in active_warehouses %}
                                {% if active.warehouse_id == warehouse.id %}
                                  {% if warehouse.manual_geo_data_entry%}
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <p class="mb-0">Manual Geo Data Entry</p>
                                    </div>
                                    <div class="col-sm-7">
                                      <input type="number" id="rateQualityManualGeo" name ="rateQualityManualGeo" class="form-control"/>
                                    </div>
                                  </div>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}
                              </div>

                            <!-- <div class="tab-pane fade" id="pills-speed" role="tabpanel" aria-labelledby="tab-speed">
                              <div class="row">
                                <div class="col-sm-5">
                                  <p class="mb-0">Picking</p>
                                </div>
                                <div class="col-sm-7">
                                  <input type="number" id="rateSpeedPicking" name ="rateSpeedPicking" class="form-control"/>
                                </div>
                              </div>
                              <hr>
                              {% for warehouse in active_warehouses %}
                                {% if active.warehouse_id == warehouse.id %}
                                  {% if warehouse.item_packaging%}
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <p class="mb-0">Packaging</p>
                                    </div>
                                    <div class="col-sm-7">
                                      <input type="number" id="rateSpeedPackaging" name ="rateSpeedPackaging" class="form-control"/>
                                    </div>
                                  </div>
                                  <hr>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}

                              {% for warehouse in active_warehouses %}
                                {% if active.warehouse_id == warehouse.id %}
                                  {% if warehouse.labelling%}
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <p class="mb-0">Labelling</p>
                                    </div>
                                    <div class="col-sm-7">
                                      <input type="number" id="rateSpeedLabelling" name ="rateSpeedLabelling" class="form-control"/>
                                    </div>
                                  </div>
                                  <hr>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}

                              {% for warehouse in active_warehouses %}
                                {% if active.warehouse_id == warehouse.id %}
                                  {% if warehouse.manual_geo_data_entry%}
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <p class="mb-0">Manual Geo Data Entry</p>
                                    </div>
                                    <div class="col-sm-7">
                                      <input type="number" id="rateSpeedManualGeo" name ="rateSpeedManualGeo" class="form-control"/>
                                    </div>
                                  </div>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="pills-price" role="tabpanel" aria-labelledby="tab-price">
                              <div class="row">
                                <div class="col-sm-5">
                                  <p class="mb-0">Picking</p>
                                </div>
                                <div class="col-sm-7">
                                  <input type="number" id="ratePricePicking" name ="ratePricePicking" class="form-control"/>
                                </div>
                              </div>
                              <hr>
                              {% for warehouse in active_warehouses %}
                                {% if active.warehouse_id == warehouse.id %}
                                  {% if warehouse.item_packaging%}
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <p class="mb-0">Packaging</p>
                                    </div>
                                    <div class="col-sm-7">
                                      <input type="number" id="rateQualityPackaging" name ="rateQualityPackaging" class="form-control"/>
                                    </div>
                                  </div>
                                  <hr>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}

                              {% for warehouse in active_warehouses %}
                                {% if active.warehouse_id == warehouse.id %}
                                  {% if warehouse.labelling%}
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <p class="mb-0">Labelling</p>
                                    </div>
                                    <div class="col-sm-7">
                                      <input type="number" id="rateQualityLabelling" name ="rateQualityLabelling" class="form-control"/>
                                    </div>
                                  </div>
                                  <hr>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}

                              {% for warehouse in active_warehouses %}
                                {% if active.warehouse_id == warehouse.id %}
                                  {% if warehouse.manual_geo_data_entry%}
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <p class="mb-0">Manual Geo Data Entry</p>
                                    </div>
                                    <div class="col-sm-7">
                                      <input type="number" id="rateQualityManualGeo" name ="rateQualityManualGeo" class="form-control"/>
                                    </div>
                                  </div>
                                  {% endif %}
                                {% endif %}
                              {% endfor %}
                          </div> -->
                          </div>
                            
                            </div>
                          </div>
                          <div class="modal-footer">
                            <a href="{{url_for('main.set_rating', warehouse_id = active.warehouse_id)}}">
                            <button type="submit" class="btn btn-success">Accept</button>
                            </a>
                          </div>  
                        </form>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
    </div>
    </div>
  </section>
{% endblock %}