{% extends "base.html" %}

{% block content %}

  <section class="vh-100">
    <div class="container py-5 h-70">

      <div class="row d-flex align-items-center justify-content-center h-100">
        
        {% if current_user.is_authenticated %}
        {% if current_user.isAdmin %}
        <div class="col-md-3 col-lg-3 col-xl-3 bg-image rounded hover-shadow" style="padding-left: 0px; padding-right: 0px;">
          <a href="{{url_for('main.software')}}">
          <img src="/static/supplierpanel.jpg"
          class="img-fluid rounded" alt="Store image" style="height: 418.5px;">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="text-white mb-0">Connect to suppliers panel</p>
            </div>
          </div>
        </a>
        </div>
        <div class="col-md-5 col-lg-3 col-xl-3 offset-xl-1 bg-image rounded hover-shadow" style="padding-left: 0px; padding-right: 0px;">
          <a href="{{url_for('main.software')}}">
          <img src="/static/merchantpanel.jpg"
            class="img-fluid rounded hover-shadow" alt="Supplier image" style="height: 418.5px;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0">Connect to merchants panel</p>
              </div>
            </div>
          </a>
        </div>
        {% elif current_user.u_role == "merchant" %}
        <div class="col-md-3 col-lg-3 col-xl-3 bg-image rounded hover-shadow" style="padding-left: 0px; padding-right: 0px;">
          <a href="{{url_for('search.main')}}">
          <img src="/static/warehouse.jpg"
          class="img-fluid rounded" alt="Store image">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="text-white mb-0">Search for warehouses</p>
            </div>
          </div>
        </a>
        </div>
        <div class="col-md-5 col-lg-3 col-xl-3 offset-xl-1 bg-image rounded hover-shadow" style="padding-left: 0px; padding-right: 0px;">
          <a href=" https://www.alibaba.com/" target="_blank">
          <img src="/static/supplier.png"
            class="img-fluid rounded hover-shadow" alt="Supplier image">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0">Connect to suppliers</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 offset-xl-1 bg-image rounded hover-shadow" style="padding-left: 0px; padding-right: 0px;">
          <a href="https://noolah.shop/" target="_blank">
          <img src="/static/store.png"
          class="img-fluid rounded" alt="Store image">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="text-white mb-0">Connect to my online store</p>
            </div>
          </div>
        </a>
        </div>
        {% elif current_user.u_role == "owner" %}
        <div class="col-md-5 col-lg-3 col-xl-3 bg-image rounded hover-shadow" style="padding-left: 0px; padding-right: 0px;">
          <a href="{{url_for('main.software')}}" target="_blank">
          <img src="/static/w_software.png"
            class="img-fluid rounded hover-shadow" alt="Supplier image">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0">Connect to warehouse software</p>
              </div>
            </div>
          </a>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </div>
   
    </section>
{% endblock %}