{% extends "base.html" %}

{% block content %}

<div class="w-150 p-4 d-flex justify-content-center pb-4">
    <div style="width: 26rem;" >
        <div class="tab-content">
            <form method="POST" action="/signup">
                <div class="text-center mb-3">
                    <p>Sign up with:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </button>
            
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </button>
            
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                    </button>
            
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                    </button>
                </div>
        
                <p class="text-center">or:</p>
        
                <div class="form-outline mb-4">
                    <input type="text" id="registerName" name="registerName" class="form-control" />
                    <label class="form-label" for="registerName">Name</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="registerSurname" name="registerSurname" class="form-control" />
                    <label class="form-label" for="registerName">Surname</label>
                </div>
        
                <div class="form-outline mb-4">
                    <input type="email" id="registerEmail" name="registerEmail" class="form-control" />
                    <label class="form-label" for="registerEmail">Email</label>
                </div>
        
                <div class="form-outline mb-4">
                    <input type="password" id="registerPassword" name="registerPassword" class="form-control" />
                    <label class="form-label" for="registerPassword">Password</label>
                </div>
        
                <!-- <div class="form-outline mb-4">
                    <input type="password" id="registerRepeatPassword" class="form-control" />
                    <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                </div> -->
        
                <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                        aria-describedby="registerCheckHelpText" />
                    <label class="form-check-label" for="registerCheck">
                        I have read and agree to the terms
                    </label>
                </div>
        
                <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}